.notes {
    background-color: #E5F1F2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notes ul {
    list-style: none;
    margin-top: 10px;
  }
  
  .notes li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #023650;
  }

  .notes li:hover {
    color: rgb(83, 125, 224);
    cursor: pointer;
  }
  
  .notes button {
    background-color: #158D7F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;
  }

  .notes button:hover{
    background-color: #025a53;
  }
  