* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v291_604 {
  width: 100%;
  height: 45rem;
  background: url("../images/v291_604.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
}
.v291_605 {
  width: 100%;
  height: 618px;
  background: rgba(205,231,243,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v291_606 {
  width: 260px;
  color: rgba(2,48,71,1);
  position: absolute;
  top: 154px;
  left: 300px;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v291_607 {
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 103px;
  overflow: hidden;
}
.v291_608 {
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
}
.v291_609 {
  width: 213px;
  color: rgba(2,48,71,1);
  position: absolute;
  top: 397px;
  left: 1000px;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v291_610 {
  color: rgba(2,48,71,1);
  position: absolute;
  top: 401px;
  left: 300px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v291_611 {
  color: rgba(2,48,71,1);
  position: absolute;
  top: 154px;
  left: 1000px;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v291_612 {
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 452px;
  overflow: hidden;
}
.v291_613 {
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v291_614 {
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v291_615 {
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 447px;
}
.v291_616 {
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 95px;
  overflow: hidden;
}
.v291_617 {
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 6px;
}
.v291_618 {
  width: 351px;
  color: rgba(2,48,71,1);
  position: absolute;
  top: 52px;
  left: 600px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v291_619 {
  width: 270px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 445px;
  left: 300px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v291_620 {
  width: 267px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 197px;
  left: 300px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v291_621 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 1000px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v291_622 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 448px;
  left: 1000px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
/* .v291_623 {
  width: 133px;
  height: 41px;
  background: rgba(21,141,127,1);
  opacity: 1;
  position: absolute;
  top: 663px;
  left: 479px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
} */

.v291_624 {
  padding: 10px;
  width: 133px;
  height: 41px;
  color: rgba(255,255,255,1);
  background-color: rgba(21,141,127,1);
  position: absolute;
  top: 668px;
  left: 700px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.v291_624:hover{
  background-color: #025a53;
}
