* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.achievecontent {
  width: 100%;
  height: 45rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
}
.achievedivision {
  width: 100%;
  height: 618px;
  background: rgba(205,231,243,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.edutitle{
  width: 260px;
  color: rgba(2,48,71,1);
  position: absolute;
  top: 154px;
  left: 300px;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}

.adaptitle {
  width: 213px;
  color: rgba(2,48,71,1);
  position: absolute;
  top: 397px;
  left: 1050px;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.custitle {
  color: rgba(2,48,71,1);
  position: absolute;
  top: 401px;
  left: 300px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.inttitle {
  color: rgba(2,48,71,1);
  position: absolute;
  top: 154px;
  left: 1050px;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.maintitle {
  width: 351px;
  color: rgba(2,48,71,1);
  position: absolute;
  top: 52px;
  left: 670px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.p1 {
  width: 270px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 445px;
  left: 300px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.p2 {
  width: 267px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 197px;
  left: 300px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.p3 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 1050px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.p4 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 448px;
  left: 1050px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}


.findbtn {
  padding: 10px;
  width: 133px;
  height: 41px;
  color: rgba(255,255,255,1);
  background-color: rgba(21,141,127,1);
  position: absolute;
  top:680px;
  left: 850px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.findbtn:hover{
  background-color: #025a53;
}
