
.comingsoon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .comingsoon-message {
    background-color: #fff; 
    padding: 2rem;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding-top: 15rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333; /* Dark text color */
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666; /* Lighter text color */
  }
  
  .back-home-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff; /* White text */
    background-color: #007bff; /* Bootstrap primary color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .back-home-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  