
.signup-container {
  display: flex;
  height: 100vh;
}
  
  .signup-left {
      width: 40%;
      background-color: #1f3558;
      display: flex;
      justify-content: center;
      align-items: center;
  }


  .or-divider {
    text-align: center;
    margin: 1.5rem 0;
    color: #7e7e7e;
    font-size: 0.9rem;
    margin-bottom: 0px;
  }
  
  .logo img {
      height: 100px;
      width: auto;
  }
  
  .signup-right {
      width: 60%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
  }
  
  .signup-right h2 {
      margin-bottom: 1.5rem;
      font-size: 32px;
      color: #333;
      position: absolute;
      top: 250px;
      left: 1065px;
      font-weight: Bold;
      font-size: 32px;
      text-align: left;
  }
  
  .signup-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
  }

  .logo img {
    height: 150px;
    width: auto;
  }
  
  
  .emailtitle{
      margin-top: 1rem;
      font-size: 1.0rem;
      color: #333;
      margin-right: 450px;
  }
  .first{
    margin-top: 1rem;
    font-size: 1.0rem;
    color: #333;
    margin-right: 405px;
}
.last{
  margin-top: 1rem;
  font-size: 1.0rem;
  color: #333;
  margin-right: 405px;
}
.password{
  margin-top: 1rem;
  font-size: 1.0rem;
  color: #333;
  margin-right: 420px;
}
  
  .signup-form input {
    width: 50%;
    padding: 10px;
    height: 50px;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    font-size: 1.0rem;
  }
  
  .password-field {
      position: relative;
      width: 100%;
  }
  
  .password-field input {
      padding-right: 50px;
  }
  
  
  .signup-button {
      width: 493px;
      padding: 12px;
      margin-top: 1.5rem;
      border: none;
      border-radius: 4px;
      background-color: #20c997;
      color: white;
      cursor: pointer;
      font-size: 1rem;
  }
  .alreadyaccount{
    margin-top: 0px;
    text-align: center;
    text-align: center;
    font-size: 1.0rem;
  }

  .footerloginlink{
    margin-top: 30px;
    margin-right: 245px;
  }

  .loginmentee{
    font-size: 16px;
    text-decoration: none;
    color: #158D7F; 
    transition: color 0.3s ease;
    margin-top: 0px;
  }

  .loginmentee:hover {
    text-decoration: underline;
  }
  
  
