* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
  }

.full-page{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    min-height: 200px; 
} 
     #nav-bar{
      position: fixed;
      min-height: 10vh;
      background-color: white;
      color: Black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10rem;
      padding-right: 10rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
      }
      
      .logo{
      height: 8.5em;
      padding: 1.5em;
      
      }
      
      .dashboard-title{
        margin-right: 1000px;
        color: #02516a;
        font-size: 30px;
        margin-top: 10px;
        font-weight: bold;
      }
      
      #second-bar{
      display: flex;
      align-items: center;
      gap: 20px;
      }
      
      .out-btn{
      background-color: #158D7F; 
      color: white;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: 16px;
      text-decoration: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
      }
      
      .out-btn:hover{
      background-color: #025a53;
      }
      
      button{
          border: none;
          background: none;
          font-size: 20px;
          color: #02516a;
      }
      
      .mobile-menu-icon{
          display: none;
      }
  
  
  /* Sidebar.css */
  .sidebar {
    width: 200px;
    height: calc(100vh - 60px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 160px;
    left: 95px;
  }
  
  /* Individual Menu Links */
  .menu-link {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #004466;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
   
  .menu-link:hover {
    background-color: #CEE7F3;
  }
  
  .menu-link:active {
    background-color: #CEE7F3;
  }
  
  .menu-icon {
    font-size: 25px;
    margin-right: 15px;
    color: #004466;
  }
  
  .menu-text {
    color: #004466;
  }

 